language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  matrix:
    - DJANGO=Django==1.10.6
    - DJANGO=Django==1.9.12
    - DJANGO=Django==1.8.17
    - DJANGO=Django==1.7.11
    - DJANGO=Django==1.6.11

install:
  - pip install flake8 coverage coveralls $DJANGO
  - pip install -e .

matrix:
  exclude:
    - python: "3.6"
      env: DJANGO=Django==1.7.11
    - python: "3.6"
      env: DJANGO=Django==1.6.11
    - python: "3.5"
      env: DJANGO=Django==1.7.11
    - python: "3.5"
      env: DJANGO=Django==1.6.11
    - python: "3.3"
      env: DJANGO=Django==1.10.6
    - python: "3.3"
      env: DJANGO=Django==1.9.12

script:
  - flake8 --max-line-length=100 --max-complexity=10 --statistics --benchmark django_slowtests
  - coverage run setup.py test
  - coverage report

after_success: coveralls
