language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

env:
  matrix:
    - DJANGO=Django==2.1.5
    - DJANGO=Django==2.0.10
    - DJANGO=Django==1.11.18
    - DJANGO=Django==1.10.8
    - DJANGO=Django==1.9.13
    - DJANGO=Django==1.8.19
    - DJANGO=Django==1.7.11
    - DJANGO=Django==1.6.11

install:
  - pip install flake8 coverage coveralls $DJANGO freezegun
  - pip install -e .

matrix:
  exclude:
    - python: "3.6"
      env: DJANGO=Django==1.7.11
    - python: "3.6"
      env: DJANGO=Django==1.6.11
    - python: "3.5"
      env: DJANGO=Django==1.7.11
    - python: "3.5"
      env: DJANGO=Django==1.6.11
    - python: "3.4"
      env: DJANGO=Django==2.1.5
    - python: "2.7"
      env: DJANGO=Django==2.0.10
    - python: "2.7"
      env: DJANGO=Django==2.1.5

script:
  - flake8 --max-line-length=100 --max-complexity=13 --statistics --benchmark django_slowtests
  - coverage run setup.py test
  - coverage report

after_success: coveralls
